@import "./assets/fira-font/stylesheet.scss";
@import './Variables.scss';

body {
  margin: 0;
  font-family: "Fira Code";
  background-color: #25274d;
}

.page {
  min-height: 100vh; 
}
.background{
  width: 100%;
  max-height: 500vh;
  overflow: hidden;
  .parallax {
    position: absolute;
    margin:auto
    svg{
     
      width: 100%;
    }
  }
}